<<<<<<< HEAD
<%= form_tag "/users/:id/locations/:id" do  %>
=======
<%= form_tag "/trips" do  %>
>>>>>>> c2d1fb17d1b3a755879a9f7553f5fae255604368
    Destination:
    <%= search_field_tag :location %>
    <%= submit_tag "Search" %>
  <% end %>

Saved Trips:

<ul>
<% @trips.each do |trip| %>
<li>
<%= link_to trip.location_id, trip_path(trip) %>
<%= link_to 'Edit', edit_trip_path(trip) %>
<%= link_to 'Delete', trip_path(trip), {method: :delete} %>
</li>
<% end %> 