
  	<% if @user.errors.any?  %>
  <div class = "pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
    	 <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
    	 	<p style="color: red"><%= pluralize(@user.errors.count, "ERROR")%> (HOVER TO VIEW)</p>
    	 	<ul class="pure-menu-children">
    	 		<% @user.errors.full_messages.each do |message| %>
   				<li class="pure-menu-item" style="color: red"> > <%= message %></li>
   				<% end %>
   			</ul>
   		</li>
   	</ul>
   </div>
   	<% end %>

<form class = "pure-form pure-form-aligned pure-u-1-3">
  <fieldset class="field">
  <legend><h1 class="banner">Create New User</h1></legend>
		<div class="pure-control-group form-word">
			<%= f.label :username %>
			<%= f.text_field :username %>
    </div></br>	
    <div class="pure-control-group form-word">
			<%= f.label :email %>
			<%= f.email_field :email %>
    </div></br>
    <div class="pure-control-group form-word">
			<%= f.label :first_name %>
			<%= f.text_field :first_name %>
    </div></br>
    <div class="pure-control-group form-word">
			<%= f.label :last_name %>
			<%= f.text_field :last_name %>
    </div></br>
    <div class="pure-control-group form-word">
			<%= f.label :password %>
			<%= f.password_field :password %>
    </div></br>
    <div class="pure-control-group form-word">
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>
    </div></br>
		<div class="pure-controls">
			<input type="submit" class="pure-button pure-button-primary">
		</div>
	</fieldset>
</form>
