<% if @user.errors.any?  %>
  <p style="color: red"><%= pluralize(@user.errors.count, "error")%> when creating new user:</p>
 	<ul>
 	 <% @user.errors.full_messages.each do |message| %>
   <li style="color: red"><%= message %></li>
 	 <% end %>
	</ul>
<% end %>

<%= f.label :username %>
<%= f.text_field :username %>
<%= f.label :email %>
<%= f.email_field :email %>
<%= f.label :first_name %>
<%= f.text_field :first_name %>
<%= f.label :last_name %>
<%= f.text_field :last_name %>
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>
</br>
<%= f.submit %>
