<div class="pure-u-1">
	<%= form_tag("/users/#{@user_id}/locations") do %>
		<%= render 'welcome/form' %>
	<% end %>
</div>

<div class="pure-u-1 footer">
	<fieldset>
		<h3 class="suggest">Get Inspiration From Others</h3>
		<%= render '/trips/trip_random' %>
		<%= render '/trips/trip_random' %>
		<%= render '/trips/trip_random' %>
	</fieldset>
</div>

