
<%= form_tag('/welcome/search', method: 'get') do %>

	<%= render 'form' %>
<br>

<h2 class="banner">Here are trips other users have created:</h2>
	<br>
	<%= render '/trips/trip_random' %>
	<%= render '/trips/trip_random' %>
	<%= render '/trips/trip_random' %>

<% end %>
