<!--add dynamic location to h3 tag-->

<h3>Here's the places you've bookmarked in <%=@loc.name %></h3>


<%= form_tag new_user_location_trip_path, method:'get' do %>
    <%= label_tag 'Where are you staying?' %>
    <%= text_field_tag 'start', nil, placeholder:'Address, City, State/Country', size: 50 %>
    <br>
    <% @pois.each do |poi| %>
	<%= render partial: 'poi_form', locals: {poi: poi} %>
	
    <% end %>
    <br>
    <%= submit_tag 'git it gurl' %>


    
<% end %>
