<!--add dynamic location to h3 tag-->

<h1 class="pure-u-1 banner">Here's the places you've bookmarked in <%=@loc.name %></h1>

    <%= form_tag(new_user_location_trip_path(@user, @loc), method:'get', class: "pure-form") do %>
        <div class="ribbon">
            <% @pois.each do |poi| %>
                <%= render partial: 'poi_google_place', locals: {poi: poi} %>
            <% end %>
        </div>
        <br>
        <%= label_tag 'Where are you staying?', nil, class: "banner" %>
        <%= text_field_tag 'start', nil, placeholder:'Address, City, State/Country', size: 50 %>

        <%= submit_tag 'Show me trip', class: "pure-button pure-button-primary"%>
        <br>
        <br>
        <div>
            <img class="pure-img" style="margin:auto" src="<%= @link %>" alt="">
        </div>
    <% end %>

