<!--add dynamic location to h3 tag-->

<h3>Here's the places you've bookmarked in <%=@loc.name %></h3>


<%= form_tag new_user_location_trip_path, method:'get' do %>
	<%= text_field_tag 'start', nil, placeholder:'Where are you staying?' %>
	<br>
	<% @pois.each do |poi| %>
		<%= render partial: 'poi', locals: {poi: poi} %>
	
		<% end %>
	<br>
	<%= submit_tag 'git it gurl' %>


	
<% end %>