<!--add dynamic location to h3 tag-->

<h1 class="pure-u-1">Here's the places you've bookmarked in <%=@loc.name %></h1>

<div class="pure-u-1">
    <%= form_tag new_user_location_trip_path(@user, @loc), method:'get' do %>
        <div class="pure-g">
            <div class="pure-u-1">
                <% @pois.each do |poi| %>
                    <%= render partial: 'poi_google_place', locals: {poi: poi} %>
                <% end %>
            </div>
        </div>

        <br>
        <%= label_tag 'Where are you staying?' %>
        <%= text_field_tag 'start', nil, placeholder:'Address, City, State/Country', size: 50 %>

        <%= submit_tag 'git it gurl' %>
        <br>
        <br>
        <div>
            <img class="pure-img" style="margin:auto" src="<%= @link %>" alt="">
        </div>
    <% end %>
</div>

