<!DOCTYPE html>
<html>
    <head>
        <title>Trippy</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" type="text/css" media="screen" />
    </head>
    <body>
        <div class="container">
            <div class="user-bar">
            <% if session[:user_id] %>
                Hello, <%= User.find(session[:user_id]).first_name %>
                <%= link_to('Log out', '/sessions', method: :delete) %>
            <% else %>
                <%= link_to 'Create User', new_user_path %>
                <%= link_to 'Log In', new_sessions_path %>
            <% end %>
            </div>
            <%= yield %>
        </div>
    </body>
</html>
