<!DOCTYPE html>
<html>
    <head>
        <title>Trippy</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <script src="//fast.eager.io/u4ORR-7tVB.js"></script>
    </head>
    <body>
        <div class="container" >
            <div class = "pure-g">
                <!-- If a session exists for the user, show a navbar for members -->
                <% if session[:user_id] %>
                    <%= render partial: 'layouts/log_navbar' %>
                    <!-- Else render the generic, super-ultra-lame-not-cool-person navbar -->
                <% else %>
                    <%= render partial: 'layouts/logout_navbar' %>
                <% end %>
            </div>
            <%= yield %>
        </div>
    </body>
</html>
